.home-page{
    margin-top: 5rem;
    h1{
        text-align: center;
        margin-bottom: 2rem;
        color: #2D336B;
    }
    .about-text{
        margin: 0 25rem 0 25rem;
        p{
            font-size: 22px;
            color: #2D336B;
        }
    }
}